name: CI/CD

on:
  push:
    branches:
      - main

env:
  TZ: Asia/Shanghai

jobs:
  build:
    name: build
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v5

      # - name: Setup node
      #   uses: actions/setup-node@v4
      #   with:
      #     node-version: lts/*

      # - name: Enable Corepack
      #   run: corepack enable

      # - name: Install ni
      #   run: npm i -g @antfu/ni@latest

      - name: Cache node modules
        uses: actions/cache@v4
        with:
          path: ~/.pnpm
          key: ${{ runner.os }}-node-${{ hashFiles('**/pnpm-lock.json') }}

      - name: Install dependencies
        run: ni

      - name: Build
        run: nr build

      - name: After Build
        run: |
          pm2 stop 0
          rm /data/mould/frontend/website/.output -rf
          cp .output /data/mould/frontend/website -r
          pm2 start 0
