name: CI/CD

on:
  push:
    branches:
      - main

env:
  TZ: Asia/Shanghai

jobs:
  build:
    name: build
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v5

      # - name: Setup node
      #   uses: actions/setup-node@v4
      #   with:
      #     node-version: lts/*

      # - name: Enable Corepack
      #   run: corepack enable

      # - name: Install ni
      #   run: npm i -g @antfu/ni@latest

      # - name: Cache node modules
      #   uses: actions/cache@v4
      #   with:
      #     path: ~/.pnpm
      #     key: ${{ runner.os }}-node-${{ hashFiles('**/pnpm-lock.json') }}

      - name: Install dependencies
        run: ni

      # 机器内存不足，打包之前需要先停掉一些服务
      - name: Before Build
        run: |
          pm2 stop website
          /data/mould/backend/ry.sh stop

      - name: Build
        run: nr build

      - name: After Build
        run: |
          rm /data/mould/frontend/website/.output -rf
          cp .output /data/mould/frontend/website -r
          pm2 start website
          cd /data/mould/backend
          /data/mould/backend/ry.sh start

      - name: Ensure Services Restart on Failure
        if: ${{ failure() }}
        run: |
          pm2 start website
          cd /data/mould/backend
          /data/mould/backend/ry.sh start
